name: Go Tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  go_unit_tests:
    strategy:
      matrix:
        go-version: [1.23, 1.24]
        runs-on: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Run vet
        run: go vet ./...

      - name: Test
        run: go test --mode=unit -v ./...
  lint:
    strategy:
      matrix:
        go-version: [1.23, 1.24]
        runs-on: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup and run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout 120s --max-same-issues 0 --out-format colored-line-number --exclude-dirs=examples
